.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    border: 1px solid #FF6347ed;
}

.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}

#title{
    color: #FF6347ed;
}

#description{
    margin-top: -20px;
    color:black;
    font-weight: 400;
}
#valor {
    margin-top: -10px;
    font-size: 1.2rem ;
    color: black;
}