.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw
}

.nav{
  position:absolute;
  top:0;
  background-color: #FF6347ed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}
.nav h1{
  font-size: 2.1rem;
  color: #f5f5f5;
}

.nav img{
  position: absolute;
  left: 40px;
  width: 60px;
}


.card-grid {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.container button {
  background-color: #FF6347ed;
  color: white;
  font-weight: bold;
  position: fixed;
  width: 70px;
  height: 50px;
  bottom: 16px;
  right: 24px;
  transition: all 0.1s linear 0.1s;
}

.container button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
}
